body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

.header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; /* Añadido espacio alrededor del contenido */
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links a:hover{
    color: orange;
}

.header .btn button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background-color: orange;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: white;
    color: orange;
    transform: scale(1.1);
}

.section {
    
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;        
    background-size: cover;
    padding: 20px;
    color: white; /* Color del texto */
}



.section2{
    height: 30vh;
    background-size: cover;
    font-size: 2rem;    
    background-image: url(/img/wave.svg);
}

.section3{
    height: 30vh;
    background-size: cover;
    font-size: 2rem;
    
    background-image: url(/img/wave_bottom2.svg);
}


.section img {
    width: 50%;
    height: 50%;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-right: 10px;
}

.section.inverted {
    flex-direction: row-reverse;
}

.section-text {
    flex: 1;
}

.section-text h2{
    color: blueviolet;
}
.section-text p {
    color: black; /* Color del texto */
}



